:root {
  --primary-250: #ba8d5a;
  --primary-200: #d3b696;
  --primary-150: #e0cbb4;
  --primary-100: #ece0d2;
  --primary-50: #f9f5f0;

  --secondary-250: #131620;
  --secondary-200: #384361;
  --secondary-150: #5e70a1;
  --secondary-100: #9ea9c7;
  --secondary-50: #dfe2ec;
}
